.todo-form{
     background-color: rgba(31, 148, 123, 0.671);
     color: white;
     padding: 16px ;
     box-shadow: 0px 2px 8px rgba(0,0,0,0.26);
}
.todo-list{
    list-style: none;
}

.todo-list li{
    background-color: rgba(183, 189, 188, 0.548);



}